/*body{background-image:url("/aoki_images/loginbackground3.jpg");*/
    /*background-repeat:no-repeat;*/
    /*background-position: center;*/

    /*width:100%;*/
/*}*/
form{
    position: relative;
    left:6%;
    top:-220px;
    height:200px;
    width:400px;
    border:10px none black;

}
#sub1{
    width:104px;
    height:40px;
    color: green;
}
#sub2{
    width:104px;
    height:40px;
    color: red;
}
